$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F18B99;
$sales-bkg: #4E4544;
$white-bkg: #FFFFFF;
$gray-bkg: #9F9F9F;
$dark_grey-color: #5D5D5D;
$dark_pink-color: #F16D7F;
$benefits-bkg: #FBFBFB;