.home {
    width: 100%;
    min-height: 148px;
    background: #F8F3F4;
}

.home__title-wpr {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.home__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $dark_pink-color;
    padding: 59px 0 0 0;

    @include mobile {
        text-align: center;
        padding: 60px 0 0 0;
    }
}

.home__list {
    padding: 65px 0 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.home__list-text {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.home__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $dark_pink-color;
}